
@{
    ViewData["Title"] = "AboutUs";
}

<h4>Digital Retailers Laptops Ecommerce Site</h4>
<p>
    We specialize in selling Laptops, We have more than ten years of experience and more than 200,000 clients
    and we aspire for more. We are distinguished by the speed of delivery and the quality of the devices ..
</p>
<br />
<p>  We are Happy to serve you ....</p>
