
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>

<h2> You Can Contact Us By: </h2>
<ul>
    <li>
        Email: digitalretailers@gmail.com
    </li>
    <li>
        Instagram: digital_retailers
    </li>
    <li>
        Twitter: digital_retailers
    </li>
    <li>
        Whatsapp: +966505555511
    </li>
</ul>