
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<div class="container">
    <div class="row">
        <h2 class="text-center">Thank You for your order.</h2>
        <div class="col-lg-10">
            <p>Your Labtop will be available to you soon.</p>
        </div>
        <div class="col-lg-10">
            <p> <a href="/Home/Products" class="btn btn-lg btn-primary">Continue Shopping</a></p>
        </div>
    </div>
</div>